Assessment 4-3.1.json
[{"id":"7c4786b.bc275f8","type":"exec","z":"82affbc1.566598","command":"vcgencmd","addpay":false,"append":"measure_temp | awk -F\"=\" '{print $2}' | awk -F\"'\" '{print $1}'","useSpawn":"","timer":"","name":"getCPUtemp","x":347.20001220703125,"y":45.90000915527344,"wires":[["dc08505a.91563"],[],[]]},{"id":"747d591e.20b928","type":"debug","z":"82affbc1.566598","name":"","active":true,"console":"false","complete":"payload","x":906.8001098632812,"y":34,"wires":[]},{"id":"a27f1196.17415","type":"inject","z":"82affbc1.566598","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":124.19999694824219,"y":47.600006103515625,"wires":[["7c4786b.bc275f8"]]},{"id":"dc08505a.91563","type":"function","z":"82affbc1.566598","name":"temperature","func":"msg.payload = {'d':{'temp':parseFloat(msg.payload)}}\nreturn msg;","outputs":1,"noerr":0,"x":568.2000122070312,"y":33.19996643066406,"wires":[["262d3b5b.efaefc"]]},{"id":"6ffb6274.09432c","type":"wiotp out","z":"82affbc1.566598","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f306392d.bca708","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":898.5000610351562,"y":94.19999694824219,"wires":[]},{"id":"262d3b5b.efaefc","type":"json","z":"82affbc1.566598","name":"","x":739.9000244140625,"y":33.59999084472656,"wires":[["6ffb6274.09432c","747d591e.20b928"]]},{"id":"37e32161.1e9fd6","type":"rpi-sensehatsim in","z":"82affbc1.566598","name":"","motion":false,"env":true,"stick":false,"x":100,"y":154.99998474121094,"wires":[["9ecb0c44.fbc728"]]},{"id":"7a5a055a.14554c","type":"debug","z":"82affbc1.566598","name":"","active":true,"console":"false","complete":"false","x":874.7167358398438,"y":149.86668395996094,"wires":[]},{"id":"f200e39e.ea9e88","type":"function","z":"82affbc1.566598","name":"Rate limit","func":"var interval = 5000; // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"x":691.38330078125,"y":155.3166961669922,"wires":[["7a5a055a.14554c","501f5e2f.57743"]]},{"id":"954532b4.0e78c","type":"json","z":"82affbc1.566598","name":"","x":532.61669921875,"y":154.8166961669922,"wires":[["f200e39e.ea9e88"]]},{"id":"9ecb0c44.fbc728","type":"function","z":"82affbc1.566598","name":"Temp & humidity","func":"msg.payload = {'d':{'temperature':parseFloat(msg.payload.temperature), \"humidity\" : msg.payload.humidity}}\nreturn msg;","outputs":1,"noerr":0,"x":344.33331298828125,"y":154.68333435058594,"wires":[["954532b4.0e78c"]]},{"id":"501f5e2f.57743","type":"wiotp out","z":"82affbc1.566598","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"7f7f5276.4b8d8c","deviceType":"senseHAT","deviceId":"senb827eb0bbce9","event":"status","format":"json","name":"IoT Out","x":887.3333740234375,"y":228.61668395996094,"wires":[]},{"id":"f306392d.bca708","type":"wiotp-credentials","z":"","name":"senb827eb0bbce9","org":"n771pm","devType":"senseHAT","devId":"senb827eb0bbce9"},{"id":"7f7f5276.4b8d8c","type":"wiotp-credentials","z":"","name":"b827eb0bbce9","org":"n771pm","devType":"RasPi","devId":"b827eb0bbce9"}]