Assessment 4.json
[{"id":"84818276.e9ace","type":"rpi-sensehatsim in","z":"1cb19022.c9c818","name":"","motion":false,"env":true,"stick":false,"x":104.11666870117188,"y":197,"wires":[["9b61d226.e9811"]]},{"id":"f2c28fbb.af5bf","type":"debug","z":"1cb19022.c9c818","name":"","active":true,"console":"false","complete":"false","x":947.8333740234375,"y":184.86666870117188,"wires":[]},{"id":"549040ae.c78bd8","type":"function","z":"1cb19022.c9c818","name":"Rate limit","func":"var interval = 5000; // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"x":751.5,"y":204.31668090820312,"wires":[["f2c28fbb.af5bf","91d64de.ccec7b"]]},{"id":"ad250879.a466e8","type":"exec","z":"1cb19022.c9c818","command":"vcgencmd","addpay":false,"append":"measure_temp | awk -F\"=\" '{print $2}' | awk -F\"'\" '{print $1}'","useSpawn":"","timer":"","name":"getCPUtemp","x":289.1166687011719,"y":140.9000244140625,"wires":[[],[],[]]},{"id":"d9983e93.cafe6","type":"debug","z":"1cb19022.c9c818","name":"","active":true,"console":"false","complete":"payload","x":917.7166748046875,"y":28,"wires":[]},{"id":"6f2c8cbb.66aac4","type":"inject","z":"1cb19022.c9c818","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":113.11666870117188,"y":72.60000610351562,"wires":[["a9c41fd0.383ff"]]},{"id":"ea22498e.b69858","type":"function","z":"1cb19022.c9c818","name":"temperature","func":"msg.payload = {'d':{'temp':parseFloat(msg.payload)}}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":508.1166687011719,"y":72.199951171875,"wires":[["d9983e93.cafe6","bbb9c40d.8ed2a"]]},{"id":"4f445125.362d38","type":"switch","z":"1cb19022.c9c818","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"29","vt":"str"},{"t":"lt","v":"29","vt":"str"}],"checkall":"true","outputs":2,"x":866.8167114257812,"y":590.5999755859375,"wires":[["f948dd4d.502848"],["bd1f5a79.ca123"]]},{"id":"1ce15d79.174333","type":"comment","z":"1cb19022.c9c818","name":"Above (29ºC)","info":"If the temperature rises above the specified temperature then send a command to the device to turn a warning LED on,","x":813.8166809082031,"y":520.5999755859375,"wires":[]},{"id":"404026b4.b0d318","type":"comment","z":"1cb19022.c9c818","name":"Below (29ºC)","info":"if the temperature is below the specified temperature then send a command to turn the warning LED off.","x":812.8166809082031,"y":676.6000366210938,"wires":[]},{"id":"f948dd4d.502848","type":"debug","z":"1cb19022.c9c818","name":"","active":false,"console":"false","complete":"false","x":978.4167022705078,"y":456.40000915527344,"wires":[]},{"id":"bd1f5a79.ca123","type":"debug","z":"1cb19022.c9c818","name":"","active":false,"console":"false","complete":"false","x":1016.1166687011719,"y":757.2000122070312,"wires":[]},{"id":"9c78a310.15e448","type":"debug","z":"1cb19022.c9c818","name":"","active":false,"console":"false","complete":"false","x":726.4166412353516,"y":751.4000091552734,"wires":[]},{"id":"38ea0c46.94236c","type":"inject","z":"1cb19022.c9c818","name":"","topic":"","payload":"12632256","payloadType":"num","repeat":"","crontab":"","once":false,"x":304.1166687011719,"y":946.2000122070312,"wires":[["a8d27f1c.bcafd8"]]},{"id":"a8d27f1c.bcafd8","type":"function","z":"1cb19022.c9c818","name":"format","func":"msg.payload = \"*,*,maroon,1,1,silver,2,1,silver,1,2,silver,5,1,silver\"\nreturn msg;","outputs":1,"noerr":0,"x":519.1166687011719,"y":893.2000732421875,"wires":[["9a4b793f.edaa78","a3652f22.cd1178"]]},{"id":"9a4b793f.edaa78","type":"rpi-sensehatsim out","z":"1cb19022.c9c818","name":"","x":842.1166687011719,"y":895.2000122070312,"wires":[]},{"id":"a3652f22.cd1178","type":"debug","z":"1cb19022.c9c818","name":"","active":true,"console":"false","complete":"false","x":732.4166412353516,"y":996.4000091552734,"wires":[]},{"id":"c3b64572.a0ba18","type":"json","z":"1cb19022.c9c818","name":"","x":585.7333984375,"y":291.8166809082031,"wires":[["549040ae.c78bd8"]]},{"id":"d2137db6.a2b24","type":"json","z":"1cb19022.c9c818","name":"","x":628.11669921875,"y":135.11666870117188,"wires":[["d9983e93.cafe6","bbb9c40d.8ed2a"]]},{"id":"9b61d226.e9811","type":"function","z":"1cb19022.c9c818","name":"Temp & humidity","func":"var temp = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\nmsg.payload = {'d':{'temperature':parseFloat(temp), \"humidity\" : humidity}}\nreturn msg;","outputs":1,"noerr":0,"x":395.4499816894531,"y":201.68331909179688,"wires":[["549040ae.c78bd8"]]},{"id":"a9c41fd0.383ff","type":"function","z":"1cb19022.c9c818","name":"Random temp","func":"function generateRandomNumber() {\n    var min = 33.0,\n        max = 59.9,\n        highlightedNumber = Math.random() * (max - min) + min;\n\n    return (highlightedNumber.toFixed(1));\n}\n\nmsg.payload = generateRandomNumber();\nreturn msg","outputs":1,"noerr":0,"x":297.4499816894531,"y":71.81666564941406,"wires":[["ea22498e.b69858"]]},{"id":"bbb9c40d.8ed2a","type":"wiotp out","z":"1cb19022.c9c818","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"e07f5d60.0126d8","deviceType":"RasPi","deviceId":"b827eb0bbce9","event":"status","format":"json","qos":"","name":"IoT Out","x":890.4500427246094,"y":118.61666870117188,"wires":[]},{"id":"91d64de.ccec7b","type":"wiotp out","z":"1cb19022.c9c818","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"e07f5d60.0126d8","deviceType":"senseHAT","deviceId":"senb827eb0bbce9","event":"status","format":"json","qos":"","name":"IoT Out","x":902.4500427246094,"y":271.6166687011719,"wires":[]},{"id":"e07f5d60.0126d8","type":"wiotp-credentials","z":"","name":"b827eb0bbce9","org":"n771pm","serverName":"","devType":"RasPi","devId":"b827eb0bbce9","keepalive":"60","cleansession":true,"tls":"","usetls":false}]