Flow 4.json
[{"id":"8aa61689.56346","type":"http in","z":"cefc8538.a8e38","name":"/time","url":"/time","method":"get","swaggerDoc":"","x":164.11666870117188,"y":196,"wires":[["397b2421.07130c"]]},{"id":"fe47f1eb.ccc7e","type":"http in","z":"cefc8538.a8e38","name":"/random","url":"/random","method":"get","swaggerDoc":"","x":174.11666870117188,"y":276,"wires":[["ac22015c.858bb8"]]},{"id":"3088ea2b.29e5a6","type":"http in","z":"cefc8538.a8e38","name":"/page","url":"/page","method":"get","swaggerDoc":"","x":164.11666870117188,"y":352,"wires":[["7f67faa9.fda4ec"]]},{"id":"1ce2a093.99b4df","type":"http response","z":"cefc8538.a8e38","name":"","x":881.1166687011719,"y":196,"wires":[]},{"id":"1e17a83c.e89458","type":"http response","z":"cefc8538.a8e38","name":"","x":881.1166687011719,"y":275,"wires":[]},{"id":"397b2421.07130c","type":"function","z":"cefc8538.a8e38","name":"get time","func":"var now     = new Date(); \nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\n\nif(hour.toString().length == 1) {\n    var hour = '0'+hour;\n}\n\nif(minute.toString().length == 1) {\n    var minute = '0'+minute;\n}\n\nvar time = hour+':'+minute \n// store the value back\nflow.set('time', time);\nmsg.payload = {\"time\" : time} \n//msg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg\n","outputs":1,"noerr":0,"x":414.1166687011719,"y":196,"wires":[["1ce2a093.99b4df"]]},{"id":"f5f433a4.b577e","type":"function","z":"cefc8538.a8e38","name":"random","func":"var now     = new Date(); \nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\n\nif(hour.toString().length == 1) {\n    var hour = '0'+hour;\n}\n\nif(minute.toString().length == 1) {\n    var minute = '0'+minute;\n}\n\nvar timer = hour+':'+minute\nvar number = msg.payload;\n\nflow.set('random',number);\nflow.set('timer', timer);\n\nmsg.payload = {\"random\" : number}\nmsg.headers = {\"Content-Type\":\"application/json\"}\nreturn msg\n\n","outputs":1,"noerr":0,"x":594.1166687011719,"y":276,"wires":[["1e17a83c.e89458"]]},{"id":"ac22015c.858bb8","type":"random","z":"cefc8538.a8e38","name":"random","low":"0","high":"10","inte":"false","x":414.1166687011719,"y":276,"wires":[["f5f433a4.b577e"]]},{"id":"8a7fc3b0.40746","type":"template","z":"cefc8538.a8e38","name":"time & random","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.time}}\nTime last server time request received at {{payload.time}}\n{{/payload.time}}\n\n{{#payload.random}}\nLast random number request returned {{payload.random}}, which was received at {{payload.timer}} \n{{/payload.random}}\n\n{{^payload.time}}\nNo server time requests have been received\n{{/payload.time}}\n\n{{^payload.random}}\nNo requests for random numbers have been received\n{{/payload.random}}\n","x":494.1166687011719,"y":352,"wires":[["2ed38da1.7e618a"]]},{"id":"2ed38da1.7e618a","type":"function","z":"cefc8538.a8e38","name":"setHTTPheader","func":"// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":714.1166687011719,"y":352,"wires":[["9e081425.a4301"]]},{"id":"9e081425.a4301","type":"http response","z":"cefc8538.a8e38","name":"","x":884.1166687011719,"y":352,"wires":[]},{"id":"7f67faa9.fda4ec","type":"function","z":"cefc8538.a8e38","name":"get time","func":"var time    =   flow.get('time');\nvar random  =   flow.get('random');\nvar timer   =   flow.get('timer');\n\nmsg.payload = {\"time\" : time, \"random\" :random, \"timer\" : timer}\nmsg.headers = {\"Content-Type\":\"application/json\"}\n\nreturn msg\n","outputs":1,"noerr":0,"x":314.1166687011719,"y":352,"wires":[["8a7fc3b0.40746"]]},{"id":"fe84a011.65051","type":"inject","z":"cefc8538.a8e38","name":"Start timer for random","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":308.1166687011719,"y":429.1166687011719,"wires":[["bd76a4de.48abb"]]},{"id":"bd76a4de.48abb","type":"random","z":"cefc8538.a8e38","name":"Random function","low":"0","high":"10","inte":"true","x":458.1166687011719,"y":649.1166687011719,"wires":[["b76ed29d.1b76"]]},{"id":"b76ed29d.1b76","type":"switch","z":"cefc8538.a8e38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"str"},{"t":"gt","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":618.1166687011719,"y":729.1166687011719,"wires":[["33163c2a.702914"],["a0ffeef4.a54448"]]},{"id":"89d68a45.d11d78","type":"debug","z":"cefc8538.a8e38","name":"","active":false,"console":"false","complete":"false","x":878.1166687011719,"y":669.1166687011719,"wires":[]},{"id":"a0ffeef4.a54448","type":"template","z":"cefc8538.a8e38","name":"high number","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a high number","x":738.1166687011719,"y":869.1166687011719,"wires":[["89d68a45.d11d78"]]},{"id":"33163c2a.702914","type":"template","z":"cefc8538.a8e38","name":"low number","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a low number","x":738.1166687011719,"y":509.1166687011719,"wires":[["89d68a45.d11d78"]]}]